<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dubboss.sk.dao.SkOrderMapper">
    <resultMap id="BaseResultMap" type="com.dubboss.sk.entity.SkOrder">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="goods_id" jdbcType="BIGINT" property="goodsId"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from sk_order
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.dubboss.sk.entity.SkOrder">
        insert into sk_order (id, user_id, order_id,
                              goods_id)
        values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT},
                #{goodsId,jdbcType=BIGINT})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.dubboss.sk.entity.SkOrder">
        update sk_order
        set user_id  = #{userId,jdbcType=BIGINT},
            order_id = #{orderId,jdbcType=BIGINT},
            goods_id = #{goodsId,jdbcType=BIGINT}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select id, user_id, order_id, goods_id
        from sk_order
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select id, user_id, order_id, goods_id
        from sk_order
    </select>

    <select id="getSkOrderByUIdGId" resultMap="BaseResultMap">
        select id, user_id, order_id, goods_id
        from sk_order
        where user_id = #{uId,jdbcType=BIGINT}
          and goods_id = #{gId,jdbcType=BIGINT}
    </select>
</mapper>