<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dubboss.sk.dao.OrderInfoMapper">
    <resultMap id="BaseResultMap" type="com.dubboss.sk.entity.OrderInfo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="goods_id" jdbcType="BIGINT" property="goodsId"/>
        <result column="delivery_addr_id" jdbcType="BIGINT" property="deliveryAddrId"/>
        <result column="goods_name" jdbcType="VARCHAR" property="goodsName"/>
        <result column="goods_count" jdbcType="INTEGER" property="goodsCount"/>
        <result column="goods_price" jdbcType="DECIMAL" property="goodsPrice"/>
        <result column="order_channel" jdbcType="TINYINT" property="orderChannel"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="pay_date" jdbcType="TIMESTAMP" property="payDate"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from order_info
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.dubboss.sk.entity.OrderInfo">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into order_info (id, user_id, goods_id,
                                delivery_addr_id, goods_name, goods_count,
                                goods_price, order_channel, `status`,
                                create_date, pay_date)
        values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{goodsId,jdbcType=BIGINT},
                #{deliveryAddrId,jdbcType=BIGINT}, #{goodsName,jdbcType=VARCHAR}, #{goodsCount,jdbcType=INTEGER},
                #{goodsPrice,jdbcType=DECIMAL}, #{orderChannel,jdbcType=TINYINT}, #{status,jdbcType=TINYINT},
                #{createDate,jdbcType=TIMESTAMP}, #{payDate,jdbcType=TIMESTAMP})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.dubboss.sk.entity.OrderInfo">
        update order_info
        set user_id          = #{userId,jdbcType=BIGINT},
            goods_id         = #{goodsId,jdbcType=BIGINT},
            delivery_addr_id = #{deliveryAddrId,jdbcType=BIGINT},
            goods_name       = #{goodsName,jdbcType=VARCHAR},
            goods_count      = #{goodsCount,jdbcType=INTEGER},
            goods_price      = #{goodsPrice,jdbcType=DECIMAL},
            order_channel    = #{orderChannel,jdbcType=TINYINT},
            `status`         = #{status,jdbcType=TINYINT},
            create_date      = #{createDate,jdbcType=TIMESTAMP},
            pay_date         = #{payDate,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select id,
               user_id,
               goods_id,
               delivery_addr_id,
               goods_name,
               goods_count,
               goods_price,
               order_channel,
               `status`,
               create_date,
               pay_date
        from order_info
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select id,
               user_id,
               goods_id,
               delivery_addr_id,
               goods_name,
               goods_count,
               goods_price,
               order_channel,
               `status`,
               create_date,
               pay_date
        from order_info
    </select>
</mapper>